@model Volunteers_ReadyToHelp.Models.SendCodeViewModel

<div class="container choose-twostepVerification-provider">
    <div class="row">
        <div class="col-md-6 col-md-offset-2 text-center">
            @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("rememberMe", @Model.RememberMe)
                <h4>Select Two-Factor Authentication Provider:</h4>
                <hr />
                <div class="row">
                    <div class="col-md-8">                        
                        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $(".navbar").css("background", "#4c726f");
            $("#SelectedProvider").addClass("form-control");
        });
    </script>
}
