@using Microsoft.AspNet.Identity

@{
    var a = Session["ProfilePic"];
}
@if (Request.IsAuthenticated)
{
    <li>
        
        @if (@Session["ProfilePic"].ToString().IndexOf("http") != -1)
        {

            <a href="@Url.Action("UserProfile", "Account")">
                <img class="img-circle" src="@Session["ProfilePic"]" style="height:50px;width:50px;margin-top:-14px" alt="Alternate Text" />
            </a>
        }
        else if (@Session["ProfilePic"].ToString().Length == 2)
        {
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "UserProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            
            <a href="@Url.Action("UserProfile", "Account")">
                <div id="shortName" class="img-circle" style="height:50px;width:50px;margin-top:-35px;background-color:#00ffff" alt="Alternate Text">
                    <h3 style="padding-top:12px;">@Session["ProfilePic"]</h3>
                </div>
            </a>
        }
        else if (@Session["ProfilePic"].ToString().IndexOf("http") == -1)
        {
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Profile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            <a href="@Url.Action("UserProfile", "Account")">
                <img class="img-circle" src="@Session["ProfilePic"]" style="height:50px;width:50px;margin-top:-14px" alt="Alternate Text" />
            </a>
        }
        
        @**@
    </li>
    <li>@Html.ActionLink("LogOff", "LogOff", "Account")</li>

}
else
{

    <li>@Html.ActionLink("Join", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
