@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>

        @if (@Session["profilePicture"].ToString().IndexOf("http") != -1)
        {
            <a href="@Url.Action("Profile","Account")">
                <img class="img-circle" src="@Session["profilePicture"]" style="height:50px;width:50px;margin-top:-14px" alt="Alternate Text" />
            </a>
        }
        else
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Profile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        }
        @**@
    </li>
    <li>@Html.ActionLink("LogOff", "LogOff", "Account")</li>

}
else
{

    <li>@Html.ActionLink("Join", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
